grobid-quantities-client
scikit-learn
Flask
openai
tqdm
textdistance[extras]
grobid-client-python
grobid_tei_xml
BeautifulSoup4
grobid-quantities-client
pymongo
pyyaml
waitress
apiflask
dateparser
tiktoken
pytest
langchain==0.0.244
streamlit
lxml
Beautifulsoup4
python-dotenv
lxml
Beautifulsoup4
python-dotenv
chromadb==0.3.25
promptlayer
watchdog
typing-inspect==0.8.0
typing_extensions==4.5.0
pydantic==1.10.8
