# Grobid
grobid-quantities-client==0.4.0
grobid-client-python==0.0.5
grobid_tei_xml==0.1.3

# Utils
tqdm
pyyaml==6.0
pytest
streamlit==1.27.2
lxml
Beautifulsoup4
python-dotenv
watchdog
dateparser

# LLM
chromadb==0.4.15
tiktoken==0.4.0
openai==0.27.7
langchain==0.0.314
promptlayer==0.2.4
typing-inspect==0.9.0
typing_extensions==4.8.0
pydantic==2.4.2
sentence_transformers==2.2.2